package-lock.json
pnpm-lock.yaml
yarn.lock
dist
build
node_modules
coverage
public
.next
*.log
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettierignore
*.prettier*
*.stylelint*
*.vscode
*.idea
*.sublime*
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.DS_Store