@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-open-runde), Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
